{% extends "layout.html" %}

{% block content %}

    <h4>Generate new Manifest File</h4>
        <a href="s3im">Import Job for S3</a>
    <br><a href="ebsim">Import Job for EBS</a>
    <br><a href="glain">Import Job for Glacier</a>
    <br>Export Job for S3
    <br><br>

    <h4>Sample Manifest Files by AWS</h4>

    <a href='/static/downloads/s3-import-manifest.txt' target="_blank">S3 Import</a><br>
    <a href='/static/downloads/ebs-import-manifest.txt' target="_blank">EBS Import</a><br>
    <a href='/static/downloads/glacier-import-manifest.txt' target="_blank">Glacier Import</a><br>

    <a href='/static/downloads/s3-export-manifest.txt' target="_blank">S3 Export</a>
<br><br>


    <h4>AWS Import Export Cost Calculator</h4>
<a href="http://calculator.s3.amazonaws.com/index.html?s=importexport" target="_blank">
    http://calculator.s3.amazonaws.com/index.html?s=importexport</a>
<br><br>

    <h4>AWS Import Export Error and Status Codes</h4>
<a href="http://docs.aws.amazon.com/AWSImportExport/latest/DG/Errors.html" target="_blank">
    http://docs.aws.amazon.com/AWSImportExport/latest/DG/Errors.html</a>
<br><br>


{% endblock %}





http://docs.aws.amazon.com/AWSImportExport/latest/DG/Errors.html